.wrapper {
  max-width: 700px;
  margin-left: 10px;
}

.header {
  display: flex;
  justify-content: center;
  font-weight: 900;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  height: 40px;
  padding: 10px;
  background-color: rgba(179, 215, 214, 0.992);
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.checkbox {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.button {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}

.loader {
  border: 2px solid gray;
  border-radius: 50%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-left-color: transparent;
  animation: loader 1s infinite;
}

@keyframes loader {
  0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.search {
  height: 30px;
  width: 300px;
  border: 0.5px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}